<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand neon-title" href="">🧩 Sudoku Master</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3 nav-item-1">
            <NavLink class="nav-link neon-green" href="" Match="NavLinkMatch.All" style="color: #00ff80 !important;">
                <span class="bi bi-house-door-fill neon-icon-green" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3 nav-item-2">
            <NavLink class="nav-link neon-cyan" href="sudoku" style="color: #00eaff !important;">
                <span class="bi bi-grid-3x3-gap neon-icon-cyan" aria-hidden="true"></span> Play Sudoku
            </NavLink>
        </div>

        <div class="nav-item px-3 nav-item-3">
            <NavLink class="nav-link neon-magenta" href="counter" style="color: #ff3bff !important;">
                <span class="bi bi-plus-square-fill neon-icon-magenta" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3 nav-item-4">
            <NavLink class="nav-link neon-yellow" href="weather" style="color: #ffe800 !important;">
                <span class="bi bi-list-nested neon-icon-yellow" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>


